<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Test</display-name>
  
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.test.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
  
 	<!--The mappings for the JSP servlet -->
	<servlet-mapping>
	    <servlet-name>jsp</servlet-name>
	    <url-pattern>*.jsp</url-pattern>
	    <url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	
	<!-- Ex01 -->
	<servlet><!-- 서블릿 정의 시작 - 서블릿의 기본 정보를 설정하는 태그 -->
		<servlet-name>ex01</servlet-name> <!-- 서블릿의 이름 지정 - 서블릿 매핑 시 참조할 논리적 이름 -->
		<servlet-class>com.test.lesson01.Ex01Servlet</servlet-class>  <!-- 서블릿의 실제 자바 클래스 경로와 이름 지정 -->
		<!-- ctrl 누르고 com.test.lesson01.Ex01Servlet 를 클릭햇을때 해당 클래스로 반드시 이동이 되어야 함 -->
		<!-- 돌아오려면 alt + 방향키로 여기로 다시 돌아올 수 있음 -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ex01</servlet-name><!-- 매핑할 서블릿의 이름 (위에서 정의한 servlet-name과 일치해야 함) -->
		<url-pattern>/lesson01/ex01</url-pattern> <!-- 웹 브라우저에서 이 서블릿에 접근할 URL 패턴 지정 -->
		<!-- url-pattern은 항상 /로 시작되어야 함  -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UrlMappingEx01</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappingEx01</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UrlMappingEx01</servlet-name>
		<url-pattern>/lesson01/ex01/url</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>quiz01</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappongQuiz01</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>quiz01</servlet-name>
		<url-pattern>/lesson01/quiz01</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>quiz02</servlet-name>
		<servlet-class>com.test.lesson01.UrlMappongQuiz02</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>quiz02</servlet-name>
		<url-pattern>/lesson01/quiz02</url-pattern>
	</servlet-mapping>
	
	
</web-app>